<style>
  article {
    margin: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;

    & p {
      margin-bottom: 1rem;
    }

    & .response-content {
      margin-bottom: 1rem;
    }

    & pre {
      font-family: monospace;
      font-size: 0.8em;
      padding: 1em;
      background: #eee;
    }
  }
</style>

<article class="response">
  <h4>
    <em>created {{ response.created_at }}</em>
    by <strong> {{ response.model }}</strong>
  </h4>

  <div class="response-content">{{response.formatted_content | safe}}</div>

  <pre><code>
duration:          | {{response.duration}}
prompt_eval_count  | {{response.prompt_eval_count}}
eval_count         | {{response.eval_count}}

</code></pre>
</article>
